.cards__container{
    display: grid;
    grid-template-columns: repeat(4,minmax(40%,50%));

    grid-template-rows: max-content
    // grid-auto-flow: row;
    

}
.cards__container::-webkit-scrollbar{
    width: 80%;
    height: 6px;
    background-color: $dim-white-2;
    border-radius: 1rem;
    padding: 2px;
    

}
.cards__container::-webkit-scrollbar-thumb{
    // width: 1rem;
    background-color: #729fed;
    // border: .005px solid  #0cb01d;
    border-radius: 1rem;
    

}
.cards__container::-webkit-scrollbar-track {
    // width: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow:inset  0 0 6px rgba(0,0,0,0.3);
}


//margins
.mg-rt{
    margin-right: 2rem;
}




//text-colors
.dim-text{
    color: $dim-white;
}


//icons
.icon-white{
    fill: $plain-white;
}
.icon-white-2{
    fill: $dim-white;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.icon-size-1{
    width: 2rem;
    height: 2rem;
}
.icon-music-controls{
    width: 2.5rem;
    height: 2.5rem;
}
.icon-size-2{
    width: 2.5rem;
    height: 2.5rem;
}
.icon-size-3{
    width: 4rem;
    height: 4rem;
}

.play{
    
}
.invisible{
    visibility:hidden;
    opacity:0;

}

@keyframes rotateEver {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}
@keyframes growNshrink {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(0.65);
    }
}