
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    margin-left: -11rem;
    
}

.wrapper-homepage{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;    
}