.icon-white {
  fill: #fff;
}

.icon-white-2 {
  fill: rgba(255, 255, 255, 0.5);
}

.icon {
  width: 2rem;
  height: 2rem;
}

.icon-size-1 {
  width: 2rem;
  height: 2rem;
}

.icon-size-2 {
  width: 2.5rem;
  height: 2.5rem;
}

.icon-size-3 {
  width: 4rem;
  height: 4rem;
}

.mg-rt {
  margin-right: 2rem;
}

.music-player {
  height: 10%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 2rem;
  margin-left: 1rem;
  position: absolute;
  bottom: 0;
}
.music-player button {
  background-color: transparent;
  border: none;
}
.music-player__content {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}
.music-player__content-img {
  align-self: flex-start;
  height: 3.4rem;
  width: 3.4rem;
  margin-top: -1.35rem;
  margin-right: 1rem;
  object-fit: cover;
}
.music-player__content--details {
  width: 45%;
  margin-top: -1rem;
  margin-left: -2rem;
}
.music-player__content--title {
  font-size: 12px;
}
.music-player__content--artist-name {
  font-size: 10px;
}
.music-player .progress {
  justify-self: flex-start;
  height: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  z-index: 1;
  margin-bottom: 1px;
  border-radius: 1rem;
  padding: 0 4px;
}
.music-player .progress-bar {
  transform: translateY(15%);
  margin-left: -5px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  width: 0%;
  height: 4.5px;
  z-index: 5;
  position: relative;
}
.music-player .progress-bar::after {
  content: "";
  position: absolute;
  left: 98%;
  top: 0;
  transform: translateY(-25%);
  background-color: #fff;
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
}
.music-player__control {
  align-self: flex-end;
  margin-top: -1rem;
  display: flex;
  justify-content: space-between;
  padding-right: -2.5rem;
  margin-right: 0.8rem;
}

.main-controls {
  margin-top: 1.2rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.music-btn__backward:active,
.music-btn__forward:active,
.music-btn__play:active {
  transform: translateY(3px) scale(1.2);
}

* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 55.5%;
}

html, body {
  height: 100%;
}

svg, img, video {
  max-width: 100%;
  display: block;
}

input, button {
  font-size: 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 237px;
  position: relative;
}

.camera {
  display: none;
}

.wrapper {
  background-color: #1F1D36;
  width: 100%;
  max-width: 338px;
  min-width: 237px;
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  background-color: #1F1D36;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

header button {
  background-color: transparent;
  border: none;
}

header button:focus {
  outline: none;
}

.liked-songs__container {
  padding-left: 10px;
  padding-top: 5px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 45%));
}

.liked-songs__card-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liked-songs__card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liked-songs__card-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liked-songs__card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.liked-songs__card--img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 10px;
}
.liked-songs__card--name {
  margin-bottom: 5px;
}

.main {
  height: 75%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 21.875em) {
  body {
    margin: 0 auto;
  }

  .wrapper {
    padding: 1rem;
    padding-left: 2rem;
    max-width: 14rem;
    max-height: 450px;
    overflow: hidden;
    border-radius: 12px;
    border: 7px solid black;
  }

  .camera {
    display: block;
    position: absolute;
    top: 0;
    background-color: black;
    height: 2rem;
    width: 10rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 4;
  }

  .camera::after {
    content: "";
    position: absolute;
    top: -0.5px;
    right: 22.5%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: 19;
  }

  .wrapper::after {
    content: "";
    position: absolute;
    top: -3.5px;
    right: 35.881%;
    transform: translateX(-50%) translateY(50%);
    background-color: rgba(0, 0, 0, 0.63);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 12;
  }

  .wrapper::before {
    content: "";
    position: absolute;
    top: 0.5%;
    left: 45%;
    transform: translateX(-50%) translateY(50%);
    background-color: rgba(255, 255, 255, 0.7);
    height: 5px;
    width: 4rem;
    border-radius: 1rem;
    z-index: 9;
  }
}

/*# sourceMappingURL=likedSongs.css.map */
