.recommended__card{
    &--img{
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 1rem;
    }
}










.playlist__card{
    &--img{
        width: 50%;
        height: 50%;
        object-fit: cover;
        border-radius: 1rem;
    }
}

