.music-player{

    height: 10%;
    width: 95%;
    display: flex;
    flex-direction: column;
    text-align: center;

    position:absolute;
    bottom: 3%;
    // margin-top: -5rem;
    margin-left: 1rem;


    button{
        background-color: transparent;
        border: none;
    }


    &__content{
        display: grid;
        grid-template-columns:max-content minmax(min-content,max-content);
        grid-template-rows: max-content;
        font-size: 9px;
        text-overflow:ellipsis;

        &-img{
            align-self: flex-start;
            height: 5rem;
            width: 5rem;
            margin-top: -1.35rem;
            margin-right: 1rem;
            object-fit: cover;
            
        }

        &--details{
            // width: 45px;
            display: grid;
            grid-template-columns: minmax(min-content,max-content);
            grid-template-rows: repeat(auto-fit,min-content);
            margin-top: -1rem;
            text-overflow:ellipsis;
            // padding-right: -6px;
        }

        &--title{
            text-overflow:ellipsis;
        }
        &--artist-name{
            // width: 45px;
            overflow-wrap: ellipsis;
            // text-overflow:ellipsis;
        }
    }

    .progress{
        justify-self: flex-start;
        height: 6px;
        width: 100%;
        background-color: $dim-white;
        width: 100%;
        z-index: 1;
        margin-bottom: 1px;
        border-radius: 1rem;
        padding: 0 4px;

        &-bar{
            transform: translateY(12%);
            margin-left: -5px;
            border-radius: 1rem;
            background-color: $dim-white-2;
            width: 0%;
            height: 5.5px;
            z-index: 5;
            position: relative;

            &::after{
                content: "";

                position: absolute;

                left: 96%;
                top: 0;
                transform: translateY(-25%);
                
                background-color: #fff;
                width: 11px;
                height: 11px;
                border-radius: 50%;

            }

        }

    }

    &__control{
        margin-top: -1rem;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }
}


.main-controls{
    margin-top: 1.2rem;

    display: grid;
    text-align: center;
    grid-template-rows: max-content;
    grid-template-columns: 1.8fr 1fr;
    grid-auto-flow: row;
}

.music-btn__backward:active,
.music-btn__forward:active,
.music-btn__play:active{
    transform:  translateY(4px) scale(1.25);
}


