

*{
    box-sizing: border-box;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
}


html,body{
    height: 100%;
}

img,video,svg{
    max-width: 100%;
}
.body{

    background-color: #1F1D36;
    color: #fff;
    padding: 1.5rem 1.5rem 1.5rem 0 ;    
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // transform: translateX(0);

}

.body.show-nav{
    transform: translateX(45%);
    padding-left: 0;
}
html{
    font-size: 52.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


















