header{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:15%;

    svg{
        // align-self: flex-start;
        margin-left: -4rem;
        margin-right: 2.5rem;
        // position:absolute;
        // left:-25px;
        // top:10px;
    }

    h4{
        // text-align: center;
        color: #fff;
        // margin-top: .8rem;
        margin-left: 1rem;
    }
}



.player-2{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    &__img{
        width: 90%;
        object-fit: cover;
        border-radius: 1rem;
    }

    &__detail{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

.music-title{
    text-align: center;
    color: $plain-white;
}
.music__artist-name{
    // margin-top: -1rem;
    text-align: center;
    color: $dim-white;
    margin-top: -1rem;
}

.icon-1{
    height: 1rem;
    width: 1rem;
    fill: $dim-white;
}

.icon-like{
    height: 1rem;
    width: 1rem;
    fill: $dim-white;
    position: absolute;
    bottom: 15%;
    right: 5px;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
}

button:focus{
    outline: none;
}


.music-progress{
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
}
.music__timestamps{
    color: $plain-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

}



.music-details__controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.music-progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $dim-white;
    height: 6px;
    width: 100%;
    border-radius: 1rem;
}

.music-bar{
    margin: 0 2px;
    height: 4px;
    background-color: #fff;
    width: 5%;
    border-radius: 1rem;
    position: relative;
}



.music-bar::after{
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fff;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
}



.music-player-2__btns{
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
}