.icon-white{
    fill: $plain-white;
}
.icon-white-2{
    fill: $dim-white;
}
.icon{
    width: 2rem;
    height: 2rem;
}
.icon-size-1{
    width: 2rem;
    height: 2rem;
}
.icon-size-2{
    width: 2.5rem;
    height: 2.5rem;
}
.icon-size-3{
    width: 4rem;
    height: 4rem;


}

//margins
.mg-rt{
    margin-right: 2rem;
}
















.music-player{
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 4rem;
    // justify-content: space-between;
    // align-items: center;




    position:absolute;
    bottom: 0;
    // left: -20px;
    // position: relative;

    button{
        background-color: transparent;
        border: none;
    }


    &__content{
        display: flex;
        justify-content: space-between;
        // flex-basis: 0 0 200px;
        flex-grow: 0;
        flex-shrink: 0;
        align-self: flex-start;
        &-img{
            align-self: flex-start;
            height: 3.4rem;
            width: 3.4rem;
            margin-top: -1.35rem;
            margin-right: 1rem;
            object-fit: cover;
            
        }

        &--details{
            width: 45%;
            margin-top: -1rem;
            margin-left: -2rem;
            // h3,h4{

            // }
        }
        &--title{
            
            font-size: 12px;
        }
        &--artist-name{
            font-size: 10px;
        }
    }

    .progress{
        justify-self: flex-start;
        height: 5px;
        width: 100%;
        background-color: $dim-white;
        width: 100%;
        z-index: 1;
        margin-bottom: 1px;
        border-radius: 1rem;
        padding: 0 4px;

        // display: flex;
        // align-items: center;
        

        &-bar{
            transform: translateY(15%);
            margin-left: -5px;
            border-radius: 1rem;
            background-color: $dim-white-2;
            width: 0%;
            height: 4.5px;
            z-index: 5;
            position: relative;

            &::after{
                content: "";

                position: absolute;

                left: 98%;
                top: 0;
                transform: translateY(-25%);
                
                background-color: #fff;
                width: 7.5px;
                height: 7.5px;
                border-radius: 50%;

            }

        }

    }

    &__control{
        align-self: flex-end;
        // flex: 1;
        // position: relative;
        margin-top: -1rem;
        display: flex;
        justify-content: space-between;
        padding-right: -2.5rem;
        margin-right: 0.8rem;
    }
}


.main-controls{
    margin-top: 1.2rem;

    display: flex;
    text-align: center;
    justify-content: space-between;
}

.music-btn__backward:active,
.music-btn__forward:active,
.music-btn__play:active{
    transform:  translateY(3px) scale(1.2);
}